<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.8.2" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
</packages>